/* Seção de pré-save */
.presave-section {
    margin-top: 50px;
}

.presave-section h2 {
    font-size: 2rem; /* Tamanho ajustado */
    margin-bottom: 20px;
}

.presave-section form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presave-section label {
    font-size: 1rem; /* Tamanho do texto */
    margin: 10px 0;
}

.presave-section input {
    padding: 10px;
    border: 1px solid #1c211f;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 80%; /* Ajuste para melhor visualização */
}

.presave-section button {
    padding: 10px 20px;
    background-color: #1c211f;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%; /* Ajuste para o botão */
}

.presave-section button:hover {
    background-color: #333333;
}

/* Estilo para checkboxes */
.presave-section input[type="checkbox"] {
    margin-right: 10px;
}
